html {
	font-size:28px;
    font-family: 'Comfortaa', cursive;
}

body{
    height: 8600px; 
    background-color: #5C7CA3;
    overflow-x: hidden;
}

.top {
    width: 100%;
    height: 130px;
    background: #C2CBAA;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    top: 10px;
    left: 70px;
    position: relative;
}

.tovaru{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 240px;
    top: -90px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px;  
}

.vidhuk{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 440px;
    top: -163px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.about{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 640px;
    top: -235px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.akciy{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 840px;
    top: -307px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.poshyk{
    width: 480px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 1040px;
    top: -379px;
}

.buy{
    top: -464px;
    left: 1580px;
    position: relative;
}

.user{
    top: -464px;
    left: 1605px;
    position: relative;
}

.search{
    top: -474px;
    left: 850px;
    position: relative;
}

.photo1{
    width: 830px; 
    height: 480px;
    left: 70px;
    top: 150px;
    position: relative;
    border-radius: 50px;
}

.photo2{
    width: 210px;
    height: 140px;
    left: 110px;
    top: 165px;
    position: relative;
    border-radius: 15px;
}

.photo3{
    width: 210px;
    height: 140px;
    left: 370px;
    top: 14px;
    position: relative;
    border-radius: 15px;
}

.photo4{
    width: 210px;
    height: 140px;
    left: 630px;
    top: -137px;
    position: relative;
    border-radius: 15px;
}

.text1{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -680px;
    left: 1050px;
}

.text2{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -650px;
    left: 990px;
    height: 580px;
    width: 800px;
    text-align: center;
}

.Line1{
    height: 3px;
    margin-top: -770px;
    border: 0;
    background-color: #000000;
}

.photo5{
    width: 700px;
    height: 505px;
    position: relative;
    top: 10px;
    left: 70px;
    border-radius: 50px;
}

.photo6{
    width: 700px;
    height: 505px;
    position: relative;
    top: -506px;
    left: 1060px;
    border-radius: 50px;
}

.button1{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -500px;
    left: 70px;
}

.button2{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -600px;
    left: 1060px;
}

.photo7{
    width: 700px;
    height: 505px;
    position: relative;
    top: -510px;
    left: 70px;
    border-radius: 50px;
}

.photo8{
    width: 700px;
    height: 505px;
    position: relative;
    top: -1025px;
    left: 1060px;
    border-radius: 50px;
}

.button3{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -1015px;
    left: 70px;
}

.button4{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -1115px;
    left: 1060px;
}

.Line2{
    height: 3px;
    margin-top: -1100px;
    border: 0;
    background-color: #000000;
}

.text3{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: 40px; 
    left: 120px;
}

.photo9{
    width: 700px;
    height: 505px;
    top: 80px;
    left: 70px;
    position: relative;
    border-radius: 50px;
}

.photo10{
    width: 210px;
    height: 140px;
    left: 70px;
    top: 105px;
    position: relative;
    border-radius: 15px;
}


.photo11{
    width: 210px;
    height: 140px;
    left: 300px;
    top: -46px;
    position: relative;
    border-radius: 15px;
}

.photo12{
    width: 210px;
    height: 140px;
    left: 530px;
    top: -197px;
    position: relative;
    border-radius: 15px;
}

.cina{
    width: 190px;
    height: 84px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    line-height: 84px;
    top: -850px;
    left: 900px;
}

.kyputu{
    width: 200px;
    height: 84px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36px;
    font-weight: 500;
    text-align: center; 
    padding-left: 90px;
    line-height: 84px;
    top: -933px;
    left: 1130px;
}

.korzuna{
    width: 70px;
    height: 70px;
    top: -1010px;
    left: 1160px;
    position: relative;
}

.like{
    width: 84px;
    height: 84px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    text-align: center;
    line-height: 84px;
    top: -1098px;
    left: 1460px;
}

.like1{
    width: 70px;
    height: 70px;
    top: 8px;
    position: relative;
}

.vidhuk1{
    width: 84px;
    height: 84px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    text-align: center;
    line-height: 84px;
    top: -1180px;
    left: 1580px;
}

.vidhuk2{
    width: 70px;
    height: 70px;
    top: 8px;
    position: relative;
}

.text4{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -1100px;
    left: 885px;
    height: 580px;
    width: 800px;
    text-align: center;
}

.Line3{
    height: 3px;
    margin-top: -1180px;
    border: 0;
    background-color: #000000;
}

.circle1{
    width: 130px;
    height: 130px;
    background-image: url(images/Ellipse\ 1.png); 
    background-size: cover; 
    background-position: center;
    border-radius: 50%;
    position: relative;
    top: 85px;
    left: 70px;
}
  .vidhuk3{
    width: 1200px;
    height: 140px;
    background: #ffffff;
    position: relative;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    left: 270px;
    top: -50px;
}

.circle2{
    width: 130px; 
    height: 130px; 
    background-image: url(images/Ellipse\ 2.png); 
    background-size: cover; 
    background-position: center;
    position: relative;
    background-color: #ffffff; 
    border-radius: 50%; 
    left: 260px;
  }
  
  .vidhuk4{
    width: 1200px;
    height: 140px;
    background: #ffffff;
    position: relative;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 65px;
    left: 460px;
    top: -140px;
 }

 .vidhuk5{
    width: 1400px;
    height: 200px;
    background: #ffffff;
    position: relative;
    border-radius: 20px;
    text-align: center;
    line-height: 200px;
    top: 50px;
    left: 270px;
 }

 .text5{
    font-size: 36px;
    font-weight: bolder;
    position: relative;
    top: -230px; 
    left: 280px;
 }

 .button5{
    width: 230px;
    height: 50px;
    background: #5C7CA3;
    position: relative;
    border-radius: 20px;
    border: 2px solid #000000;
    font-size: 20px;
    font-weight: 500;
    text-align: center; 
    line-height: 50px;
    top: 30px;
    left: 1440px;
}

.Line4{
    height: 3px;
    margin-top: 50px;
    border: 0;
    background-color: #000000;
}

.text8{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: 50px;
    left: 70px;
 }

.photo13{
    width: 730px;
    height: 600px;
    position: relative;
    border-radius: 50px;
    left: 70px;
    top: 100px;
}

.text6{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -450px; 
    left: 1150px;
 }

 .text7{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -400px;
    left: 910px;
    height: 580px;
    width: 800px;
    text-align: center;
 }

.photo14{
    width: 730px;
    height: 600px;
    position: relative;
    border-radius: 50px;
    top: -500px;
    left: 1050px;
}

.text9{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -1000px;
    left: 120px;
 }

 .text10{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -950px;
    left: 70px;
    height: 580px;
    width: 800px;
    text-align: center;
 }

.photo15{
    width: 730px;
    height: 600px;
    position: relative;
    border-radius: 50px;
    left: 70px;
    top: -1100px;
}

.text11{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -1650px; 
    left: 1100px;
 }

 .text12{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -1600px;
    left: 910px;
    height: 580px;
    width: 800px;
    text-align: center;
 }

.photo16{
    width: 730px;
    height: 600px;
    position: relative;
    border-radius: 50px;
    left: 1050px;
    top: -1700px;    
}

.text13{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -2250px;
    left: 200px;
 }

 .text14{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -2200px;
    left: 90px;
    height: 580px;
    width: 800px;
    text-align: center;
 }

 .Line5{
    height: 3px;
    margin-top: -2320px;
    border: 0;
    background-color: #000000;
}

.text15{
    font-size: 40px;
    font-weight: 200;
    position: relative;
    left: 100px;
    top: 50px;
 }

 .circle3{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 260px;
    top: 152px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text16{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 180px;
    top: 160px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .circle4{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 860px;
    top: -52px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text17{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 780px;
    top: -35px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .circle5{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 1480px;
    top: -254px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text18{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 1400px;
    top: -235px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .circle6{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 260px;
    top: -40px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text19{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 180px;
    top: -20px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .circle7{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 860px;
    top: -245px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text20{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 780px;
    top: -230px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .circle8{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
    left: 1480px;
    top: -448px;
    line-height: 100px; 
    text-align: center; 
    font-size: 40px;
}

.text21{
    font-size: 32px;
    font-weight: 200;
    position: relative;
    left: 1400px;
    top: -435px;
    height: 100px;
    width: 250px;
    text-align: center;
 }

 .Line6{
    height: 3px;
    margin-top: -200px;
    border: 0;
    background-color: #000000;
}

.phone11{
    top: 150px;
    left: 270px;
    position: relative;
}

.phone1{
    width: 170px;
    height: 170px;  
}

.text22{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 130px;
    left: 180px;
    height: 100px;
    width: 360px;
    text-align: center;
 }

 .email11{
    top: -140px;
    left: 870px;
    position: relative;
}

.email1{
    width: 170px;
    height: 170px;  
}

.text23{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: -120px;
    left: 780px;
    height: 100px;
    width: 360px;
    text-align: center;
 }

 .hand11{
    top: -410px;
    left: 1470px;
    position: relative;
}

.hand1{
    width: 170px;
    height: 170px;  
}

.text24{
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: -395px;
    left: 1350px;
    height: 100px;
    width: 360px;
    text-align: center;
 }

 .down {
    width: 2000px;
    height: 130px;
    background: #C2CBAA;
    position: relative;
    top: -200px;
    left: -50px;
    z-index: 1;
}

.novinu{
    width: 200px;
    height: 73px;
    background-color: #ACACAC;
    position: relative;
    border-radius: 15px;
    left: 150px;
    top: 30px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.zvyazok{
    width: 200px;
    height: 73px;
    background-color: #ACACAC;
    position: relative;
    border-radius: 15px;
    left: 400px;
    top: -43px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 37px
}

.pronas{
    width: 200px;
    height: 73px;
    background-color: #ACACAC;
    position: relative;
    border-radius: 15px;
    left: 650px;
    top: -115px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 70px
}

.inst{
    position: relative;
    left: 1300px;
    top: -200px;
}

.tel{
    position: relative;
    left: 1410px;
    top: -305px;
}

.face{
    position: relative;
    left: 1515px;
    top: -410px;
}

.you{
    position: relative;
    left: 1620px;
    top: -520px;
}

.tik{
    position: relative;
    left: 1710px;
    top: -620px;
}

