html {
	font-size:28px;
    font-family: Jost;
}

body{
    height: 9000px; 
    background-color: #5C7CA3;
}

.top {
    width: 100%;
    height: 130px;
    background: #C2CBAA;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    top: 10px;
    left: 70px;
    position: relative;
}

.tovaru{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 240px;
    top: -90px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px;  
}

.vidhuk{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 440px;
    top: -163px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.about{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 640px;
    top: -235px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.akciy{
    width: 135px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 840px;
    top: -307px;
    font-size: 24;
    font-weight: 500;
    text-align: center; 
    line-height: 73px
}

.poshyk{
    width: 480px;
    height: 73px;
    background-color: white;
    position: relative;
    border-radius: 15px;
    left: 1040px;
    top: -379px;
}

.buy{
    top: -464px;
    left: 1580px;
    position: relative;
}

.user{
    top: -464px;
    left: 1605px;
    position: relative;
}

.search{
    top: -474px;
    left: 850px;
    position: relative;
}

.photo1{
    width: 830px; 
    height: 480px;
    left: 70px;
    top: 150px;
    position: relative;
    border-radius: 50px;
}

.photo2{
    width: 210px;
    height: 140px;
    left: 110px;
    top: 165px;
    position: relative;
    border-radius: 15px;
}

.photo3{
    width: 210px;
    height: 140px;
    left: 370px;
    top: 14px;
    position: relative;
    border-radius: 15px;
}

.photo4{
    width: 210px;
    height: 140px;
    left: 630px;
    top: -137px;
    position: relative;
    border-radius: 15px;
}

.text1{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
    top: -680px;
    left: 1100px;
}

.text2{
    font-size: 28px;
    font-weight: 200;
    position: relative;
    top: -650px;
    left: 1000px;
    height: 580px;
    width: 800px;
}

.Line1{
    height: 3px;
    margin-top: -770px;
    border: 0;
    background-color: #000000;
}

.photo5{
    width: 700px;
    height: 505px;
    position: relative;
    top: 10px;
    left: 70px;
    border-radius: 50px;
}

.photo6{
    width: 700px;
    height: 505px;
    position: relative;
    top: -506px;
    left: 1060px;
    border-radius: 50px;
}

.button1{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -500px;
    left: 70px;
}

.button2{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -600px;
    left: 1060px;
}

.photo7{
    width: 700px;
    height: 505px;
    position: relative;
    top: -510px;
    left: 70px;
    border-radius: 50px;
}

.photo8{
    width: 700px;
    height: 505px;
    position: relative;
    top: -1025px;
    left: 1060px;
    border-radius: 50px;
}

.button3{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -1015px;
    left: 70px;
}

.button4{
    width: 700px;
    height: 100px;
    background: #ACACAC;
    position: relative;
    border-radius: 20px;
    font-size: 36;
    font-weight: 500;
    text-align: center; 
    line-height: 100px;
    top: -1115px;
    left: 1060px;
}

.Line2{
    height: 3px;
    margin-top: -1100px;
    border: 0;
    background-color: #000000;
}

